[submodule "Singletone/googletest"]
	path = Singletone/googletest
	url = https://github.com/svn2github/googletest.git
[submodule "gmock_example/googletest"]
	path = gmock_example/googletest
	url = https://github.com/google/googletest.git
[submodule "gmock_example/submodules/googletest"]
	path = gmock_example/submodules/googletest
	url = https://github.com/google/googletest.git
